
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.home-screen-main-feature-znK {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 100%;
  overflow: hidden;
  position: relative;

  .status-bar-light-wBm {
    flex-shrink: 0;
    margin-bottom: 1.4109rem;
    box-sizing: border-box;
    padding: 0.827rem 1.75rem 1.189rem 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .time-FCT {
      flex-shrink: 0;
      margin: 0.373rem 17.35rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.4rem 0.4rem 0.4rem 0.4rem;

      .pm-AKR {
        width: 4.6rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .alarm-6is {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.373rem 0.85rem 0rem 0rem;
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
    }
    .bluetooth-2Md {
      margin: 0.373rem 0.82rem 0rem 0rem;
      width: 1rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .wifi-kYX {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.288rem 0.748rem 0rem 0rem;
      width: 1.5418rem;
      height: 1.125rem;
      object-fit: contain;
    }
    .signal-HoM {
      margin: 0rem 0.76rem 1.527rem 0rem;
      width: 1.18rem;
      height: 0.6461rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .battery-R8s {
      height: 0.5749rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.527rem;
      width: 1.5rem;
    }
  }
  .frame-48-kgw {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-cb5q-KEF {
      flex-shrink: 0;
      width: 100%;
      height: 31.9rem;
      position: relative;

      .frame-47-U79 {
        height: 15.9rem;
        position: absolute;
        left: 1.75rem;
        top: 0;
        box-sizing: border-box;
        padding-bottom: 3.4rem;
        width: 28.5rem;

        .notification-Pju {
          background-position: center;
          background-image: url('REPLACE_IMAGE:c70d86f1d1c90c49c43ed529aaca66de8d1cb3c0');
          border-radius: 2rem;
          margin: 0rem 24.4rem 1.7rem 0rem;
          box-sizing: border-box;
          padding: 0.05rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;

          .rectangle-1-KdZ {
            border-radius: 2rem;
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .hello-robertwelcome-to-gymtoolkit-together-we-will-achieve-fitness-success-lets-get-started-DU3 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          max-width: 28.5rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.2102272034;

          .hello-robertwelcome-to-gymtoolkit-together-we-will-achieve-fitness-success-lets-get-started-DU3-sub-0 {
            letter-spacing: -0.04rem;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2575;
          }
          .hello-robertwelcome-to-gymtoolkit-together-we-will-achieve-fitness-success-lets-get-started-DU3-sub-1 {
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1rem;
          }
          .hello-robertwelcome-to-gymtoolkit-together-we-will-achieve-fitness-success-lets-get-started-DU3-sub-2 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .frame-48-ytT {
        position: absolute;
        left: 0;
        top: 15.9rem;
        display: flex;
        column-gap: 1.8rem;
        align-items: center;
        width: 91.5rem;
        height: 16rem;

        .previous-information-content-WdV {
          margin: 1rem 0;
          width: 29.3rem;
          height: calc(100% - 2rem);
          background-color: #2e2e2e;
          border-radius: 1.5rem;
          flex-shrink: 0;
        }
        .content-card-2rj {
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.7rem 1.2rem;
          width: 29.3rem;
          overflow: hidden;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:20de827864dfeb322255792faf04f65fbc2c558f');
          height: 100%;
          position: relative;
          background-size: 100% 100%;
          background-position: center;
          background-color: #2e2e2e;

          .keep-healthy-in-every-situation-a7Z {
            line-height: 1.2102272034;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            max-width: 12.1rem;
            font-size: 2rem;
            font-weight: 900;

            .keep-healthy-in-every-situation-a7Z-sub-0 {
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .keep-healthy-in-every-situation-a7Z-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #ffffff;
            }
            .keep-healthy-in-every-situation-a7Z-sub-2 {
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #c43131;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .next-information-content-LuM {
          flex-shrink: 0;
          margin: 1rem 0;
          width: 29.3rem;
          height: calc(100% - 2rem);
          background-color: #2e2e2e;
          border-radius: 1.5rem;
        }
      }
    }
    .auto-group-avlf-fwd {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.7rem 27.8rem 0rem 27.7rem;

      .search-bar-zj1 {
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin: 0rem 1.6rem 3.7rem 1.7rem;
        box-sizing: border-box;
        padding: 0.846rem 13.491rem 0.846rem 1.6rem;
        display: flex;
        align-items: center;
        box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.0799999982);
        width: calc(100% - 3.3rem);
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .vector-Vvf {
          margin-right: 1.5rem;
          width: 2.7085rem;
          height: 2.7085rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-your-content-eHm {
          color: #696969;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .frame-81-Kuh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.55rem 7.4rem 1.65rem;
        width: calc(100% - 3.2rem);

        .frame-80-fTm {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.5rem 0rem;
          width: calc(100% - 0.1rem);
          display: flex;

          .gym-tools-bMR {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 17.4rem;
          }
          .show-all--L47 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #2e2e2e;
          }
        }
        .pt-1-2-4ko {
          border-radius: 2rem;
          flex-shrink: 0;
          width: 32.8rem;
          height: 10rem;
          position: relative;
          background-size: 100.762% 212.185%;
          background-position: 0rem -0.2185rem;
          background-image: url('REPLACE_IMAGE:38466412a6ff98563fa60e27befabd184a43bcdb');
        }
      }
      .auto-group-fdod-Mzo {
        box-sizing: border-box;
        padding: 5rem 0rem 8.5rem 0rem;
        width: 100%;
        height: 18.3rem;
        flex-shrink: 0;

        .navigation-bar-6Bh {
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          box-shadow: 0 -0.6rem 0.67rem rgba(0, 0, 0, 0.0500000007);
          width: 100%;
          padding: 0.4rem 16.3rem 0.6rem 5.4rem;
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;

          .frame-31-p7h {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.5rem;
            height: 100%;

            .frame-30-Zqy {
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .home-uew {
              flex-shrink: 0;
              display: flex;
              font-size: 0.8rem;
              font-weight: 500;
              line-height: 1.5;
              color: #319f43;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-53-3WF {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-Qbh {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 2.4rem;
            }
            .camera-MG3 {
              color: #959595;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 0.8rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
