
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.onboarding-3-wBV {
  padding: 14.7rem 3.95rem 5.5rem 3.85rem;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  width: 100%;

  .on-boarding-3-1-rpF {
    width: 22.6rem;
    height: 22.6rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 7.4rem 0.1rem;
  }
  .with-our-innovative-features-you-can-track-gym-equipment-usage-practice-with-proper-techniques-and-maintain-consistency-in-your-fitness-journey-embrace-change-welcome-health-yts {
    text-align: center;
    font-weight: 400;
    line-height: 1.2125;
    margin-bottom: 13.6rem;
    max-width: 28.2rem;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    font-size: 1.6rem;
    color: #000000;
  }
  .frame-3-Rks {
    flex-shrink: 0;
    margin: 0rem 12.25rem 1.5rem 12.35rem;
    width: calc(100% - 24.6rem);
    display: flex;
    column-gap: 0.8rem;
    align-items: center;

    .rectangle-2-wz7 {
      width: 0.5rem;
      height: 0.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .rectangle-3-tuM {
      width: 0.5rem;
      height: 0.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .rectangle-1-qpb {
      background-color: #2e2e2e;
      border-radius: 0.5rem;
      flex-shrink: 0;
      width: 1rem;
      height: 0.5rem;
    }
  }
  .submitt-button-yvo {
    width: calc(100% - 13rem);
    white-space: nowrap;
    background-color: #509f58;
    flex-shrink: 0;
    cursor: pointer;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.3625;
    font-family: Nunito, 'Source Sans Pro';
    margin: 0rem 6.45rem 0rem 6.55rem;
    height: 4.5rem;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    font-size: 1.4rem;
    display: flex;
  }
}
